h1 {
    color: brown;
}

.cell {
    width: 80px;
    height: 80px;
    opacity: 1;
    display: inline-block;
    position: relative;
    bottom: 710px;
    left: 15px;
    margin-left: 2.5px;
    margin-right:1px;
    margin-bottom:2.5px;
}
