@page "/"
@using othello

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>
<img src="board.png" alt="">
<p role="status">Current count: @currentCount</p>
@for(int i = 1;i<9;i++)
{
    for(int l = 1;l<9;l++){
        int j=0;
        j = i * 10 + l;

        <div class="cell" @onclick="@(_ => Othello.click(j))">
            <img src="@Board.board[j]" alt="" width="75" height="75">
        </div>
    }
    <br>
}
<button class="reset" @onclick="@(_ => Othello.reset())"></button>


<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    private int currentCount = 0;



    private void IncrementCount(int x)
    {
        currentCount = x;

    }
}